<div class="block">
  <div class="sidebar-block">
    <h4>About <%= user.username %></h4>
    <%= image_tag gravatar_url(user.email) %>
    <p><%= user.bio %></p>

    <% if current_user != user %>
      <div class="actions wat-cf">
      <%= 
        if user.followers.include? current_user
          link_to image_tag("web-app-theme/icons/tick.png") + "Unfollow", unfollow_user_path(user), :method => :put, :class => "button"
        else
          link_to image_tag("web-app-theme/icons/tick.png") + " Follow", follow_user_path(user), :method => :put, :class => "button"
        end
      %>
      </div>
    <% end %>
  </div>
</div>


<div class="block">
  <h3>Followers</h3>
  <ul class="navigation">
    <% user.followers.each do |follower| %>
      <li><%= link_to follower.username, follower %></li>
    <% end %>
  </ul>
</div>

<div class="block">
  <h3>Following</h3>
  <ul class="navigation">
    <% user.followings.each do |following| %>
      <li><%= link_to following.username, following %></li>
    <% end %>
  </ul>
</div>

