<div class="block" id="block-lists">
          
  <div class="content">
    <h2 class="title">All Users</h2>
    <div class="inner">
      <ul class="list">
        <% @users.each do |user| %>
        <li>
          <div class="left">
            <%= link_to image_tag(gravatar_url(user.email), :class => "avatar"), user %>
          </div>
          <div class="item">
            <p>
              <%= link_to user.username, user %>
              <span class="gray">
                &mdash;
                <%= pluralize(user.tweets.count, 'tweet', 'tweets') %>,
                <%= pluralize(user.followers.count, 'follower', 'followers') %>
              </span>
              <br />
              <%= user.bio %>
            </p>
          </div>
        </li>
        <% end -%>
      </ul>
      <br />
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar', :locals => { :user => current_user }) -%>
