<% if current_user == @user %>
<div class="block">
  <div class="content">            
    <h2 class="title">New Tweet</h2>
    <div class="inner">
      <%= form_for :tweet, :url => tweets_path, :html => { :class => :form } do |f| -%>
          <div class="group">
            <%= f.text_area :message, :class => 'text_area' %>
          </div>
                
        <div class="actions wat-cf">
          <button class="button" type="submit">
            <%= image_tag("web-app-theme/icons/tick.png", :alt => "Tweet") %> Tweet
          </button>
        </div>
      <% end -%>
    </div>
  </div>
</div>
<% end %>

<div class="block" id="block-lists">
          
  <div class="content">
    <h2 class="title"><%= "SOME USER" %>'s Tweets</h2>
    <div class="inner">
      <ul class="list">
        <% @tweets.each do |tweet| %>
        <li>
          <div class="left">
            <%= link_to image_tag(gravatar_url("SOME EMAIL"), :class => "avatar"), tweet.user %>
          </div>
          <div class="item">
            <p>
              <%= link_to tweet.user.username, tweet.user %>
              <span class="small"><%= time_ago_in_words 100.years.ago %> ago:</span>
              <br />
              <%= "THIS SHOULD BE A REAL MESSAGE" %>
            </p>
          </div>
        </li>
        <% end -%>
      </ul>
      <br />
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar', :locals => {:user => @user}) -%>
